.backpackImg {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-column-start: 2;
  grid-column-end: span 5;
  @media (max-width: 1216px) {
    flex-direction: column-reverse;
  }
}

.backpackWrapper {
  padding: 72px 100px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media (max-width: 1216px) {
  .backpackWrapper {
    padding: 72px 0;
  }
}

.backpackInfo {
  display: flex;
  gap: 32px;
  flex-direction: column;
  grid-column-end: span 5;
}

.backpackUl {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blockCollapsBlock {
  border: none !important;
  padding: 15px 15px 11px 4px !important;
}

.blockCollapsBlock div {
  top: -4px;
}

.blockCollapsBlock p {
  padding-left: 25px;
}
