.card {
  position: relative;
  display: flex;
  gap: 24px;
  border: 2px solid #16a086;
  padding: 24px;
  border-radius: 12px;
}
.cardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  justify-content: space-between;
}

.cardHeader {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.iconStyles {
  background-color: #4d83fa;
  border-radius: 8px;
  padding: 6px 8px;
}
