.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
  z-index: 999999;
}

@media (max-width: 1216px) {
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(70, 70, 245);
}

label {
  font-weight: 500;
  margin-bottom: 4px;
}

input {
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: rgb(70, 70, 245);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.submit {
  padding: 20px 16px;
  background-color: rgb(70, 70, 245);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit:hover {
  background-color: #009ac0;
}

.checkBox {
  width: 60px;
  height: 30px;
}

@media (max-width: 1216px) {
  .checkBox {
    width: 30px;
    height: 30px;
  }

  .spanTextFont {
    font-size: 14px;
  }
}
