.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  border-radius: 12px;
  padding: 12px;
}

.card:hover { 
  cursor: pointer;
}

@media (max-width: 1216px) {
  .card {
    flex-direction: row;
    align-items: center;
  }
}

.greenCard {
  background-color: #ddf5e7;
  border: 2px solid #16a086;
}

.yellowCard {
  background-color: #fef0cc;
  border: 2px solid #f8b200;
}

.violetCard {
  background-color: #edf2fe;
  border: 2px solid #4d83fa;
}

.turqCard {
  background-color: #dbf4f7;
  border: 2px solid #16a086;
}

.redCard {
  background-color: #ffaeae;
  border: 2px solid #b30c0c;
}
.blueCard {
  background-color: #aeafff;
  border: 2px solid #0c0fb3;
}
.cardIconWrapper {
  width: 48px;
  height: 48px;
}
