.homeHeaderWrapper {
  width: 100%;
  grid-column: 2/-2;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: span 6;
  justify-content: center;
  @media (max-width: 1216px) {
    h1 {
      text-align: center;
    }
  }
}

.rightContainer {
  grid-column-end: span 4;
  max-width: 372px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.rightContainer img { 
  width: 100%;
  margin: 80px 0 25px;
}

.cardsBox {
  display: flex;
  flex-direction: row;
  gap: 13px;
  margin-top: 48px;
  padding-bottom: 72px;
  margin-bottom: 72px;
  grid-column: 2/ -2;
  @media (max-width: 1216px) {
    flex-direction: column;
  }
}
