.homePage {
  /* display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 32px;
  grid-template-rows: auto; */
  width: 100%;
  padding: 100px 0;
  color: #0b1f33;
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  grid-column: 2 / -2;
  max-width: 1216px;
}

.header {
  grid-column: 2 / -2;
  max-width: 1216px;
}
