.homePage {
  width: 100%;
  padding: 100px 0;
  color: #0b1f33;
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 78px;
  grid-column: 2 / -2;
  max-width: 1216px;
}

.header {
  grid-column: 2 / -2;
  max-width: 1216px;
}
