.homePage {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 32px;
  grid-template-rows: auto;
  width: 100%;
}
.main {
  grid-column: 2 / 4;
  max-width: 1216px;
}

.header {
  grid-column: 2 / 4;
  max-width: 1216px;
}
