.collapsBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 2px solid #16a086;
  border-radius: 12px;
  padding: 24px 24px 16px 24px;
}

.collapsBlock:hover {
  cursor: pointer;
}

.collapsBlockTitle {
  display: flex;
  justify-content: space-between;
  user-select: none;
  position: relative;
  padding-right: 22px;
}

.collapsBlockTitle span {
  color: #16a086;
  font-weight: 500;
  width: 20px;
  transform: rotate(180deg);
  display: flex;
}

.circle {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: #ddf5e7;
  border-radius: 100%;
}

.collapsIcon svg {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

.collapsIconWrapper {
  display: flex;
  align-items: center;
}

.collapsIconWrapper span {
  width: 100%;
}

.textStyle { 
  font-style: italic;
}