.conditionsWrapper { 
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0 0 72px 0;
    margin-bottom: 72px;
    border-bottom: 2px solid #16a086;
}

.conditionsCard { 
    display: flex;
    flex-direction: column; 
    gap: 16px;
}
.conditionsCard li { 
    position: relative;
    padding: 0 0 0 25px;
}
.conditionsCard li:before { 
    content: counter(num) ".";
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 19px;
    color: #16a086;
    text-align: center;
    font-weight: bold;
}

.cardGap div { 
    gap: 0 !important;
}
