.dropDownWrapper { 
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 99;
}

.dropLinesWrapper { 
    display: flex;
    justify-content: flex-end;
    flex-direction: end;
    width: 100%;
    position: fixed;
    top: -50px;
    left: 0;
    padding: 20px 20px 0 0;
    background-color: rgba(128, 128, 128, 0.8);
    transition: 0.5s all;
    height:120px;
    border-radius: 12px;
}

.dropDownWrapper li { 
    height: 2px;
    background-color: white;
    display: block;
    border-radius: 5px;   
}

.dropDownBlock { 
    width: 100%;
    position: fixed;
    left: 0;
    overflow: hidden;
    transition: 0.5s all;
    overflow: hidden auto;
    z-index: 3;
    height: 0;
    display: flex;
    padding: 45px 0 0 0;
    border-radius: 12px;
}

.dropDown { 
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 88;
    display: none;
}


.twoLine { 
    width: 70% !important;
}

.threeLine { 
    width: 85%;

}

.active { 
    height: 400px;
    transition: 0.5s all;
}

.activeLine1 { 
    transform: rotate(45deg) translateY(7px) translateX(3px);

}
.activeLine3 {
    transform: rotate(-45deg) translateY(-2px) translateX(-2px);
    width: 100%;
}

.activeLine2 { 
    display: none !important;
}

.dropDownBox { 
    top: 10px;
    position: fixed;
    z-index: 100;
    padding-left: 10px;
}

.dropDownBox button { 
    background-color: white;
    color: black;
}

@media (max-width: 1216px) {  
    .dropDown { 
        display: block !important;
    }
}