.dropDownWrapper { 
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropLinesWrapper { 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 20px 0 10px 0;
}

.dropDownWrapper li { 
    height: 2px;
    background-color: hsl(221, 88%, 44%);
    display: block;
    border-radius: 5px;   
}

.dropDownBlock { 
    width: 100%;
    position: fixed;
    left: -100%;
    height: 100vh;
    top: 0;
    background-color: white;
    transition: 0.5s all;
    overflow: hidden auto;
    z-index: 3;
    display: flex;
    padding: 45px 0 0 0;
}

.dropDown { 
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 88;
    display: none;
}


.twoLine { 
    width: 70% !important;
}

.threeLine { 
    width: 85%;

}

.active { 
    left: 0;
}

.activeLine1 { 
    transform: rotate(45deg) translateY(7px) translateX(3px);

}
.activeLine3 {
    transform: rotate(-45deg) translateY(-2px) translateX(-2px);
    width: 100%;
}

.activeLine2 { 
    display: none !important;
}


@media (max-width: 1216px) {  
    .dropDown { 
        display: block !important;
    }
}