.containerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  border-top: 2px solid #16a086;
  padding-top: 72px;
  @media (max-width: 1216px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
  }
}
.containerFlex h2 {
  max-width: 488px;
  line-height: 58px;
  @media (max-width: 1216px) {
    max-width: 1000px !important;
  }
}
.containerWrapper {
  grid-column: 2 / -2;
  margin-bottom: 72px;
  border-bottom: 2px solid #16a086;
}

.moreSupportGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.moreButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 32px 0 72px;
}
@media (max-width: 1216px) {
  .moreSupportGrid {
    display: flex;
    flex-direction: column;
  }
}
