.containerTopTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: span 6;
  text-align: center;
}

.containerTopIcon {
  grid-column-end: span 4;
  text-align: center;
}

.cardsGrid {
  grid-column: 2 / -2;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr min-content 1fr min-content 1fr;
  border-top: 2px solid #16a086;
  padding-top: 78px;
  margin-top: 32px;
}

.cardsGrid div {
  text-align: center;
  flex-direction: column;
  gap: 10px;
  font-size: 20px !important;
}

.cardsGrid h3  { 
  font-size: 20px;
}


@media (max-width: 1216px) {
  .cardsGrid {
    display: flex;
    flex-direction: column;
  }
  .cardsGrid div {
    max-width: none;
  }
}

.cardsGrid svg {
  width: 30px;
  height: 30px;
  fill: white;
}


.cardGrid1 {
  grid-column-start: 1;
}



.cardGrid2 {
  grid-column-start: 3;
}

.cardGrid3 {
  grid-column-start: 5;
}

.cardGrid4 {
  grid-column-start: 7;
}

.arrowIcon {
  height: 100%;
  display: flex;
  justify-content: center;
  color: #4d83fa;
}

@media (max-width: 1216px) {
  .arrowIcon {
    transform: rotate(90deg);
    width: min-content;
    margin: 0 auto;
  }
}
