.containerTopTitle {
  grid-column-start: 2;
  grid-column-end: span 6;
  text-align: center;
}

.containerTopIcon {
  grid-column-end: span 4;
  text-align: center;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2;
  grid-gap: 32px;
  margin-top: 32px;
  @media (max-width: 1216px) {
    display: flex;
    flex-direction: column;
  }
}

.cardGrid1 {
  grid-column-start: 2;
  grid-column-end: span 4;
}

.cardGrid2 {
  grid-column: span 6;
}

.cardGrid3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: -2;
}

ol {
  list-style-position: outside;
  list-style-type: none;
  counter-reset: num;
}

ul {
  list-style: none;
  li {
    margin-left: 20px;
    position: relative;
  }

  li:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #16a086 !important;
    width: 8px;
    height: 2px;
    left: -18px;
    top: 12px;
    margin-right: 15px;
  }
}

.cardListLi {
  margin-left: 18px;
  position: relative;
  &:before {
    content: counter(num) ".";
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -26px;
    width: 20px;
    font-weight: 700;
    color: #16a086 !important;
    text-align: right;
  }
}

.listUl {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 12px 0;
}
