.greenCircle:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  position: relative;
  background-color: #12826e;
  border-radius: 50%;
}

.turqCircle:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  position: absolute;
  left: 26px;
  top: 28px;
  background-color: #52a696;
  border-radius: 1000px;
  @media (max-width: 1216px) {
    left: 24px;
  }
}

.smallTurqCircle {
  transform: translateX(20px);
}

.smallTurqCircle:before {
  width: 8px;
  height: 8px;
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 8px;
  background-color: #52a696;
  border-radius: 1000px;
}

.smallTurqCircleForCollaps {
  position: relative;
  transform: translateX(20px);
}
.smallTurqCircleForCollaps::before {
  width: 8px;
  height: 8px;
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 15px;
  background-color: #52a696;
  border-radius: 1000px;
}

.textAlign {
  text-align: center;
}

.w300 {
  max-width: 300px;
}

.rotate {
  transform: rotate(180deg) !important;
}

.mb16 {
  margin-bottom: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mb72 {
  margin-bottom: 72px;
}

.mt72 {
  margin-top: 72px;
}

.pb48 {
  padding-bottom: 48px;
}

.pb78 {
  padding-bottom: 78px;
}

.pl72 {
  padding-left: 72px !important;
}

.pt72 {
  padding-top: 72px;
}
@media (max-width: 1216px) {
  .pl72 {
    padding-left: 24px !important;
  }
  .pl72 h3 {
    margin-left: 40px;
  }
}

.ml20 {
  margin-left: 20px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb40 {
  margin-bottom: 40px;
}

.pl45 {
  padding-left: 45px !important;
}

.reverseFlexUtil {
  flex-direction: column !important;
}

.mAuto {
  margin: 0 auto;
}

.blueBorder {
  border: 2px solid #4d83fa !important;
}

.blueBorder h3 {
  font-size: 20px;
}

.fillNone svg {
  fill: none !important;
  color: white;
}
