.greenCircle:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  position: relative;
  background-color: #12826e;
  border-radius: 1000px;
}

.turqCircle:before {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  position: relative;
  background-color: #52a696;
  border-radius: 1000px;
}

.smallTurqCircle:before {
  width: 8px;
  height: 8px;
  content: "";
  display: block;
  position: relative;
  background-color: #52a696;
  border-radius: 1000px;
}
