.rewardUl {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    position: relative;
  }
}

.containerReward {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  grid-column: 2 / -2;
  border-top: 2px solid #16a086;
  padding-top: 72px;
  padding-bottom: 72px;
  border-bottom: 2px solid #16a086;
}
