*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: normal;
  color: #000;
  overflow-wrap: anywhere;
  background-color: #fff;
  scroll-behavior: smooth;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

