.h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -1px;
}

.h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
  @media (max-width: 1216px) {
    font-size: 30px;
  }
}

.h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
}

.h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.body1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
  font-display: swap;
}

.body2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.body3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.caption1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}

.caption2 {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
}

.caption3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}

.button1 {
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.button2 {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
}

.badge1 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

.blue {
  color: var(--c-blue);
}

.white {
  color: white;
}

.black {
  color: var(--c-black);
}

.success {
  color: var(--c-success);
}

.error {
  color: var(--c-error);
}

.mute {
  color: hsl(from var(--c-black) h s l / 35%);
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}
