.btn {
  width: 100%;
  display: inline-flex;
  background-color: #12826e;
  border: none;
  padding: 14px 40px;
  justify-content: center;
  border-radius: 8px;
  &:hover {
    border: none;
  }
  &:active {
    border: none;
    font-size: 16px;
  }
}
